.NavigationItem,
.NavigationItemActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.NavigationItem a,
.NavigationItemActive a {
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 12px;
}

.NavigationItem a:hover,
.NavigationItemActive a:hover {
    background-color: var(--black-5);
}

.NavigationItemActive {
    font-weight: 600;
}
