.Hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
    height: fit-content;
    width: 100%;
}

.HeroImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.HeroImage img {
    max-width: 100%;
    border-radius: 32px;
    height: auto;
}

.HeroText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 24px;
    max-width: 500px;
    /* min-width: 400px; */
}

.HeroText h1 {
    font-size: 24px;
    font-weight: 900;
}

.HeroText h2 {
    font-weight: 700;
    font-style: italic;
}

@media (min-width: 0px) and (max-width: 768px) {
    .Hero {
        flex-direction: column;
        gap: 32px;
    }
    .HeroText {
        min-width: 100%;
    }
}
